# Core
django
python-dotenv

# UI 
django-admin-datta

# Tooling
django-dynamic-datatb
django-api-generator
django-debug-toolbar

# Deployment
whitenoise
gunicorn

# DB Layer
# psycopg2-binary
# mysqlclient
